
body {
    background-color: aqua;
}

.container {
    
    width: 100%;
    /* height: 100vh; */
}
.container .title {
    margin-bottom: 20px;
}
header {
    background-color: brown;
    width: 100%;
    height: 70px;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    /* height: calc(100vh - 70px); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;   
 
}

.area-cadastro {
    width: 80%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input, button {
    height: 40px;
    cursor: pointer;
    border-radius: 12px;
    padding-left: 10px;
    font-style: italic;
}

.button-cadastrar{
    background-color: green;
    color: #FFF;
    font-weight: bold;
}
.button-cadastrar:hover{
    background-color: rgb(62, 156, 62);
}
.shield-lista {
    margin-top: 10px;
    display: flex;
    width:  50%;
    display: flex;
    justify-content: space-around;
}
.shield-button {
    margin-left: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.lista-perfil {
    margin-top: 10px;
    display: flex;
    background-color: #FFF;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
    width:  100%;
    justify-content: space-around;
}
.success {
    background-color: green;
    color: #FFF;
}
.caution {
    background-color: yellow;
}
.danger {
    background-color: red;
    color: #FFF;
}

.button-editar {
    background-color: yellow;
    height: 40px;
    width: 70px;
    cursor: pointer;
    border-radius: 12px;

    font-style: italic;

}
.button-apagar {
    background-color: red;
    height: 40px;
    width: 70px;
    cursor: pointer;
    border-radius: 12px;
    color: #FFF;
    font-style: italic;
}
.shield-radio {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}


@media (max-width: 1400px) {

    .shield-lista {
        flex-direction: column;
    }
    .shield-button {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    .lista-perfil {
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 10px;
    }
}